---
import dayjs from 'dayjs'
import { getCollection } from 'astro:content'
import NavLink from '../../components/NavLink.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'
const posts = await getCollection('blog')
---

<BaseLayout title='Posts | vincenteof.eth' description='All my trival thoughts'>
  <div class="flex h-full flex-col my-4">
    <h2 class="text-xl font-medium">Archive</h2>
    <ul class="mt-4 max-w-2xl">
      {
        posts.map((post) => {
          const slug = post.slug
          const date = dayjs(post.data.pubDate).format('MMM D, YYYY')
          const title = post.data.title
          return (
            <a href={`/posts/${slug}`} class="block max-w-2xl mt-2 mb-6 group">
              <li class="flex gap-2 items-center">
                <div class="opacity-60 group-hover:opacity-80 transition-opacity duration-150">
                  {title}
                </div>
                <div class="opacity-40 text-sm group-hover:opacity-60 transition-opacity duration-150">
                  {date}
                </div>
              </li>
            </a>
          )
        })
      }
    </ul>
  </div>
</BaseLayout>
