---
import BaseLayout from '../layouts/BaseLayout.astro'
import TwitterIcon from '../components/icons/Twitter.astro'
import GithubIcon from '../components/icons/Github.astro'
import EmailIcon from '../components/icons/Email.astro'
import Link from '../components/Link.astro'
---

<BaseLayout title='About | vincenteof.eth' description='Things about me'>
  <div class="prose prose-neutral dark:prose-invert flex h-full flex-col mt-4">
    <div>
      <h2 class="text-xl font-medium">About Me</h2>
      <div class="flex flex-col">
        <p>
          Hey, I am <span class="font-bold">vincenteof</span>. I'm a software
          engineer based in Shanghai, specializing in frontend development.
          Rather than introducing myself systematically, I prefer to use several
          bullet points.
        </p>
        <ul class="list-disc list-inside">
          <li>I am married and have a cute baby.</li>
          <li>
            I have been working as a software engineer for about five years, and
            during my career, I switched from backend to frontend development.
          </li>
          <li>
            My tech stack:
            <Link
              href="https://reactjs.org/"
              target="_blank"
              rel="noreferrer"
              class="px-1"
              underline
            >
              React
            </Link>
             ,
            <Link
              href="https://astro.build/"
              target="_blank"
              rel="noreferrer"
              class="px-1"
              underline
            >
              Astro
            </Link>
             ,
            <Link
              href="https://nextjs.org/"
              target="_blank"
              rel="noreferrer"
              class="px-1"
              underline
            >
              Next.js
            </Link>,
            <Link
              href="https://nodejs.org/en/"
              target="_blank"
              rel="noreferrer"
              class="px-1"
              underline
            >
              Node.js
            </Link>
             ,
            <Link
              href="https://www.typescriptlang.org/"
              target="_blank"
              rel="noreferrer"
              class="px-1"
              underline
            >
              Typescript
            </Link>
          </li>
          <li>
            I subscribe to
            <Link
              href="https://twitter.com/ProfFeynman/status/1054763640220467201"
              target="_blank"
              rel="noreferrer"
              class="px-1"
              underline
            >
              Feynman's philosophy
            </Link>
             , and as such, I frequently use reverse engineering as a method of
            learning.
          </li>
          <li>
            I hold a degree in Computer Science, but I found that college didn't
            provide me with sufficient knowledge. The essence of what I learned
            came primarily from online resources and books. I believe that
            education should exist in a more decentralized form.
          </li>
          <li>
            I am an <span class="font-bold">ETH(ethereum)</span> holder and have
            a strong belief in the potential of blockchain technology. I am very
            willing to contribute to this evolving system.
          </li>
        </ul>
      </div>
    </div>
    <div>
      <h2 class="text-xl font-medium">About This Site</h2>
      <p>
        This site is powered by
        <Link
          href="https://astro.build/"
          target="_blank"
          rel="noreferrer"
          class="px-1"
          underline
        >
          Astro
        </Link>
         and is under active iteration. Currently, I primarily use this site for
        writing and recording. If you have any opinion or suggestion,
        <Link
          href="https://github.com/vincenteof/vincenteofchen"
          target="_blank"
          rel="noreferrer"
          class="px-1"
          underline
        >
          feedback is welcome
        </Link>
         .
      </p>
    </div>
    <div>
      <h2 class="text-xl font-medium">Contact</h2>
      <div class="flex flex-row gap-2">
        <Link
          href="https://github.com/vincenteof"
          target="_blank"
          rel="noreferrer"
          class="flex w-full border border-neutral-200 dark:border-neutral-700 rounded-lg p-4 no-underline items-center hover:bg-neutral-100 dark:hover:bg-neutral-800 transition-all justify-between"
        >
          <div class="flex items-center">
            <GithubIcon style={{ fontSize: '1.125rem' }} />
            <div class="ml-3">GitHub</div>
          </div>
        </Link>
        <Link
          href="https://twitter.com/vincenteof"
          target="_blank"
          rel="noreferrer"
          class="flex w-full border border-neutral-200 dark:border-neutral-700 rounded-lg p-4 no-underline items-center hover:bg-neutral-100 dark:hover:bg-neutral-800 transition-all justify-between"
        >
          <div class="flex items-center">
            <TwitterIcon style={{ fontSize: '1.125rem' }} />
            <div class="ml-3">Twitter</div>
          </div>
        </Link>
        <Link
          href="mailto:vincenteofchen@gmail.com"
          target="_blank"
          rel="noreferrer"
          class="flex w-full border border-neutral-200 dark:border-neutral-700 rounded-lg p-4 no-underline items-center hover:bg-neutral-100 dark:hover:bg-neutral-800 transition-all justify-between"
        >
          <div class="flex items-center">
            <EmailIcon style={{ fontSize: '1.125rem' }} />
            <div class="ml-3">Email</div>
          </div>
        </Link>
      </div>
    </div>
  </div>
</BaseLayout>
