---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro'
import TwitterIcon from '../components/icons/Twitter.astro'
import GithubIcon from '../components/icons/Github.astro'
---

<BaseLayout title="vincenteof.eth" description="vincenteof's portfolio">
  <section class="flex h-full flex-col my-4">
    <article>
      <div class="flex items-center flex-row">
        <Image
          width={100}
          height={100}
          class="rounded-full"
          alt="vincenteof"
          src="/me.jpeg"
        />
        <div class="mt-0 ml-6 space-y-2 text-neutral-500">
          <p>Hey, I am vincenteof.</p>
          <p class="my-2">
            I am a <b>frontend developer</b> living in Shanghai.
          </p>
        </div>
      </div>
      <div class="pl-8 pt-4 text-neutral-800">
        <p class="my-6">
          I mainly focus on frontend development, and I also have a strong
          belief in blockchain technology like <b>ethereum</b>.{' '}
          <a href="/about" class="underline underline-offset-2">
            Read more about me
          </a>
        </p>
        <p class="pb-16 pt-6">
          After regularly working in tech companies for about five years, I am
          currently looking for some new way of life, such as being a digital
          nomad, participating in OSS or starting a startup.
        </p>
        <hr class="w-20" />
        <div class="pt-4 text-neutral-500">
          <p class="flex items-center gap-2">
            Find me on
            <a
              href="https://github.com/vincenteof"
              target="_blank"
              rel="noreferrer"
              class="flex items-center gap-1 underline underline-offset-2 text-neutral-800"
            >
              <GithubIcon />
               Github
            </a>
             ,
            <a
              href="https://twitter.com/vincenteof"
              target="_blank"
              rel="noreferrer"
              class="flex items-center gap-1 underline underline-offset-2 text-neutral-800"
            >
              <TwitterIcon />
               Twitter
            </a>
          </p>
          <p>
            Mail me at{' '}
            <a
              href="mailto:vincenteofchen@gmail.com"
              class="underline underline-offset-2 text-neutral-800"
            >
              vincenteofchen@gmail.com
            </a>
          </p>
        </div>
        <p class="mt-3 text-neutral-500">
          If you think there are some opportunity we could cooperate with each
          other, please do not hesitate to contact me.
        </p>
      </div>
    </article>
  </section>
</BaseLayout>
