---
import { Image } from 'astro:assets'
import BaseLayout from '../layouts/BaseLayout.astro'
import TwitterIcon from '../components/icons/Twitter.astro'
import GithubIcon from '../components/icons/Github.astro'
import Link from '../components/Link.astro';
---

<BaseLayout>
  <section class="flex h-full flex-col my-4">
    <article>
      <div class="flex items-center flex-row">
        <Image
          width={100}
          height={100}
          class="rounded-full"
          alt="vincenteof"
          src="/me.jpeg"
        />
        <div class="mt-0 ml-6 space-y-2">
          <p class="prose prose-neutral dark:prose-invert">Hey, I am vincenteof.</p>
          <p class="prose prose-neutral dark:prose-invert my-2">
            I am a <span class="font-bold">frontend developer</span> living in Shanghai.
          </p>
        </div>
      </div>
      <div class="pt-4">
        <p class="prose prose-neutral dark:prose-invert px-2 sm:px-4 my-6">
          I mainly focus on frontend development, and I also have a strong
          belief in blockchain technology like <b>ethereum</b>.{' '}
          <Link href="/about" underline>
            Read more about me
          </Link>
        </p>
        <p class="prose prose-neutral dark:prose-invert px-2 sm:px-4 pb-16 pt-6">
          After regularly working in tech companies for about five years, I am
          currently looking for some new way of life, such as being a digital
          nomad, participating in OSS or starting a startup.
        </p>
        <hr class="w-20" />
        <div class="py-6">
          <p class="prose prose-neutral dark:prose-invert flex items-center gap-2">
            Find me on
            <Link
              href="https://github.com/vincenteof"
              target="_blank"
              rel="noreferrer"
              class="flex items-center gap-1"
              underline
            >
              <GithubIcon />
               Github
            </Link>
             ,
            <Link
              href="https://twitter.com/vincenteof"
              target="_blank"
              rel="noreferrer"
              class="flex items-center gap-1"
              underline
            >
              <TwitterIcon />
               Twitter
            </Link>
          </p>
          <p class="prose prose-neutral dark:prose-invert">
            Mail me at{' '}
            <Link
              href="mailto:vincenteofchen@gmail.com"
              underline
            >
              vincenteofchen@gmail.com
            </Link>
          </p>
        </div>
        <p class="prose prose-neutral dark:prose-invert">
          If you think there are some opportunity we could cooperate with each
          other, please do not hesitate to contact me.
        </p>
      </div>
    </article>
  </section>
</BaseLayout>
