---
interface Props {}
---

<header class="text-center mb-3">
  <h1 class="text-[2.25rem] font-bold pb-2">vincenteof.eth</h1>
  <nav class="max-w-2xl mx-auto">
    <ul class="w-full flex justify-center">
      <li class="px-2 py-1">
        <a href="/">Home</a>
      </li>
      <li class="px-2 py-1">
        <a href="/about">About</a>
      </li>
      <li class="px-2 py-1">
        <a href="/posts">Posts</a>
      </li>
    </ul>
  </nav>
</header>
