---
interface Props {
  title?: string
  description?: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="antialiased font-sans max-w-2xl mx-auto mt-4 mb-10 px-6 md:px-8 flex flex-col text-black dark:text-white bg-white dark:bg-[#111010]">
    <main>
      <article class="prose prose-neutral dark:prose-invert">
        <h1>{title}</h1>
        <slot />
      </article>
    </main>
  </body>
</html>
